/* Set a grey background color and center the text of the "sign in" section */
.signin {
  text-align: center;
  position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  width: 50%;
}


/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

.mat-form-field {
  width: 100%;
}

.myfilebrowser mat-toolbar
{
  float: inline-start;
}

.myfilebrowser mat-toolbar mat-label
{
  float: inline-start;
}

#fileUpload {
  position: absolute;
  z-index: 9;
  opacity: 0;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  cursor: pointer;
}

/* Set a style for the submit/register button */
.registerButton {
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  width: 100%;
  opacity: 0.9;
  border-radius: 10px;
}
