*
{
  box-sizing: border-box;
  cursor: pointer;
  font-size: 102%;
}

.mat-form-field {
  width: 100%;
}

.myfilebrowser mat-toolbar
{
  float: inline-start;
}

.myfilebrowser mat-toolbar mat-label
{
  text-align: center;
}

.myfilebrowser mat-toolbar img{
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
