<p>{{Group?.GroupName}}</p>
<div class="container">
  <div class="messages">
    <ul style="list-style: none; margin: 0; padding: 0;">
      <li *ngFor="let el of array">
        <app-chat-message [profile]="el.user.Photo" [message]="el.message" [time]="el.message"></app-chat-message>
      </li>
    </ul>
  </div>
  <div class="send">
    <form>
      <input type="text" name="message" [(ngModel)]="message">
      <button (click)="sendMessageClick($event)">Send</button>
    </form>
  </div>
</div>
