<form [formGroup]="form" class="signin">
  <fieldset>
      <legend>
        <h1>Register</h1>
      </legend>
      <p>Please fill in this form to create an account.</p>
      <hr>
      <div class="form-field">
          <label>Email:</label>
          <input name="email" formControlName="email" type="email" placeholder="Enter email">
      </div>
      <div class="form-field">
          <label>Password:</label>
          <input name="password" formControlName="password" type="password" placeholder="Enter password">
      </div>
      <div class="form-field">
          <label>UserName:</label>
          <input name="userName" formControlName="userName" type="text" placeholder="Enter user name">
      </div>
      <div div class="form-field">
          <label>First name:</label>
          <input name="firstName" formControlName="firstName" type="text" placeholder="Enter First Name">
      </div>
      <div class="form-field">
          <label>Last name:</label>
          <input name="lastName" formControlName="lastName" type="text" placeholder="Enter Last Name">
      </div>
  </fieldset>
  <div class="form-buttons">
      <button class="registerButton" (click)="SignUp()">Sign Up</button>
  </div>
  <nav>
    <p>Already have an account? <a class="login" routerLink="/login"a>Login</a>.</p>
  </nav>
</form>
