<div class="container">
  <app-header-nav></app-header-nav>
  <div class="main-page">
      <div class="groups">
        <mat-dialog-content class="group-list">
          <ul style="list-style: none; margin: 0; padding: 0;">
            <li *ngFor="let group of Groups">
              <app-group [Group]=group (click)="SelectGroup($event, group)"></app-group>
            </li>
          </ul>
        </mat-dialog-content>
      <button mat-button (click)="openCreateGroupDialog()">Create Group</button>
      </div>
      <div class="chat">
        <app-chat [Group]="SelectedGroup"></app-chat>
      </div>
  </div>
</div>
