<div class="login">
  <h2 mat-dialog-title>Login</h2>
  <hr>
  <p mat-dialog-title>Please fill in this form to login.</p>
  <mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>User Name</mat-label>
      <input matInput [(ngModel)]="LoginRequest.UserName" placeholder="Enter email" type="email">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="LoginRequest.Password" placeholder="Enter password" type="password">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button class="loginButton" (click)="login($event)">Login</button>
    <nav>
      <p mat-dialog-title style="font-size:medium;">Don`t have an account? <a class="signup" routerLink="/signup"a>Sign Up</a>.</p>
    </nav>
  </mat-dialog-actions>
</div>

